.clothing-section {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clothing-section__header {
  display: flex;
  gap: 20px;
}

.clothing-section__title {
  font-weight: 700;
  font-size: 20px;
}

.clothing-section__add-btn {
  padding: 0;
  border: 0;
  width: 116px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.clothing-section__list {
  padding: 0;
}

@media screen and (max-width: 580px) {
  .clothing-section {
    width: 95vw;
  }
  .clothing-section__header {
    justify-content: space-between;
    border-top: 1px rgba(0, 0, 0, 0.3) solid;
  }
}
